[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/mechatronics-software"]
	path = external/mechatronics-software
	url = https://github.com/jhu-cisst/mechatronics-software.git
